extends layout

block title
  title SQuAD - the Stanford Question Answering Dataset

block description
  meta(name='description', content='SQuAD is the Stanford Question Answering Dataset')

block extralinks
  link(rel='stylesheet', href='/stylesheets/explore.css')

block extrascripts

mixin model_showcase(model)
  if model
    h2 #{model}
  ul.list-inline
    each article in articles
      li
        if !model
          a(href='/' + prefix + article + '.html').btn.actionBtn.inverseBtn
            | #{decodeURIComponent(article.split('/').pop())}
        else
          a(href='/' + prefix + article + '.html' + '?model=' + model).btn.actionBtn.inverseBtn
            | #{decodeURIComponent(article.split('/').pop())}

block content
  .cover
    .container
      .row
        .col-md-12
          .infoCard
            .infoBody
              h1 Explore SQuAD
              h2 Version #{version}, #{split} set
              +model_showcase()
          .infoCard
            .infoBody
              h1 Visualize Model Predictions
              each model in models
                +model_showcase(model)
                    