extends layout

block title
  title SQuAD - the Stanford Question Answering Dataset

block description
  meta(name='description', content='SQuAD is the Stanford Question Answering Dataset')

block extralinks
  link(rel='stylesheet', href='/stylesheets/explore.css')

block extrascripts

mixin model_showcase(model)
  if model
    h2(id=model) #{model}
  ul.list-inline
    each article in articles
      li
        if !model
          a(href='/' + prefix + article + '.html').btn.actionBtn.inverseBtn
            | #{decodeURIComponent(article.split('/').pop())}
        else
          a(href='/' + prefix + article + '.html' + '?model=' + model).btn.actionBtn
            | #{decodeURIComponent(article.split('/').pop())}

block content
  .cover
    .container
      .row
        .col-md-4
          h1 Explore SQuAD
          .infoCard
            .infoBody
              h2 Version #{version}, #{split} set
              +model_showcase()
        .col-md-8
          h1 Visualize Model Predictions
          each model in models.sort().reverse()
              .infoCard
                .infoBody
                    +model_showcase(model)
                        
